{
    "ip": "127.0.0.1",
    "port": "5555",
    "log_level": "INFO",
    "login_timeout": 15,
    "version": 2.06,
    "max_clients": 100,
    "enable_bot": false,
    "update_server_ip" : "127.0.0.1",
    "update_server_port" : "6685",
}
